.second-intro {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 28px;
  background: #101010;
  padding: 216px 80px 150px;

  .title {
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
  }

  &__top {
    max-width: 889px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title,
  .text16 {
    text-align: center;
  }

  .text16 {
    max-width: 598px;
    width: 100%;
  }

  @media (min-width: 1921px) {
    padding: 216px 80px 9vw;
  }

  & + .puzzle {
    max-width: none;
    margin-top: -6vw;
    background-image: url("data:image/svg+xml,%3Csvg width='1394' height='116' viewBox='0 0 1394 116' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M328.204 87C327.899 86.9999 327.938 86.9999 328.308 86.9998C342.799 86.9492 352.285 75.8092 352.285 61.5C352.285 47.1564 352.285 56.1877 352.285 44.5C352.285 32.8123 361.315 18.9998 376.366 19C391.416 19.0002 1001.14 19.0002 1017.53 19C1033.91 18.9998 1041.61 32.2813 1041.61 44.5V61.5C1041.61 70.5303 1047.63 86.9967 1065.68 87C1066.1 87 1066.11 87 1065.69 87C1065.69 87 1065.68 87 1065.68 87C1048.55 86.9999 345.176 86.9973 328.308 86.9998C328.273 86.9999 328.239 87 328.204 87Z' fill='white'/%3E%3Cpath d='M1065.68 87C1066.1 87 1066.11 87 1065.69 87C1065.69 87 1065.68 87 1065.68 87Z' fill='white'/%3E%3Cpath d='M0 32.9243C0 43.8997 11.0079 63.3552 32.023 63.8536C32.023 63.8536 295.212 63.8532 309.222 63.8536C323.232 63.854 333.239 51.8814 333.239 39.9089V23.9454C333.239 9.97736 343.246 0.000165326 357.256 0.000165326C357.256 0.000165326 1024.6 -0.000206658 1036.74 0.000165326C1048.89 0.000537311 1060.76 7.98159 1060.76 23.9454V39.9089C1060.76 52.3803 1071.27 63.854 1084.78 63.8542C1098.29 63.8544 1338.96 63.8542 1361.98 63.8542C1384.97 63.8542 1393.98 41.4451 1394 31.9524C1394 39.1257 1394 105.06 1394 114.618C1394 114.658 1394 114.698 1394 114.738C1394 116.216 1394 116.047 1394 114.618C1393.94 102.167 1384.92 86.8016 1361.98 86.8016L1064.76 86.8018C1051.25 86.8018 1040.75 77.3231 1040.75 62.8565V46.893C1040.75 33.9225 1030.24 22.9477 1016.73 22.9477L988.032 22.9477C864.838 22.9477 389.598 22.9479 377.271 22.9477C363.261 22.9475 353.253 34.9203 353.253 46.893V62.8565C353.253 76.8246 343.246 86.8018 329.236 86.8018L32.023 86.8012C11.0079 86.8012 0 100.77 0 114.737V32.9243Z' fill='%23FAFAFA'/%3E%3C/svg%3E");
    margin-bottom: -2.1%;
    @media (max-width: 480px) {
      margin-top: -9.8%;
      background-image: url("data:image/svg+xml,%3Csvg width='359' height='64' viewBox='0 0 359 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M45 14C45 8.47715 49.4772 4 55 4H308C313.523 4 318 8.47715 318 14V37.9395V37.9395C318 37.9398 318 37.9401 318.001 37.9401H351C355.418 37.9401 359 41.5218 359 45.9401V55.3952C359 59.8135 355.418 63.3952 351 63.3952H311C311 63.3952 311 63.395 311 63.3948V63.3948C311 63.3947 311 63.3945 311 63.3945H49.0003C49.0001 63.3945 49 63.3947 49 63.3948V63.3948C49 63.395 48.9999 63.3952 48.9997 63.3952H8C3.58172 63.3952 0 59.8135 0 55.3952V45.9401C0 41.5218 3.58172 37.9401 8 37.9401H37C41.4183 37.9401 45 34.3584 45 29.9401V14Z' fill='white'/%3E%3Cpath d='M11 32C1 32 4.72324e-05 22.9052 4.89756e-05 22C5.07187e-05 21.0948 -7.6107e-05 57.5 4.89756e-05 52C0.000174058 46.5 4.00005 40 13 40H34C42 40 48 34 48 26C48 18 47.9315 22.8174 48 18C48.0686 13.1826 52 8 58 8H301C307 8 311 13 311 18V26C311 32 315 40 325 40L346 40C354.5 40 359 46 359 52V22C359 27 355.094 32 348 32L329 32C324 32 319 28 319 22V12C319 5 314 0 307 0L292.741 8.97573e-06C239.692 4.47181e-05 58.0634 0.000167093 52 0C45 -0.000192895 40 4.99981 40 12V22C40 27 36 32 30.0001 32L11 32Z' fill='%23F9F9F9'/%3E%3C/svg%3E");
      & + .focus-block {
        .cases-list,
        .posts-list {
          border-radius: 0 0 24px 24px;
          filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.08));
          box-shadow: none !important;
          padding: 10px 16px 24px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 100px 24px 90px;
    border-radius: 24px;
  }

  @media (max-width: 900px) {
    .title {
      font-size: 40px;
      line-height: 41px;
      margin-bottom: 16px;
    }
    &__top {
      max-width: 580px;
    }
  }

  @media (max-width: 480px) {
    border-radius: 24px;
    padding: 100px 24px 70px;
    &__top {
      align-items: flex-start;
    }
    .title,
    .text16 {
      text-align: left;
    }
  }
}
