.small-icon {
  padding: 8px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;

  height: 48px;
  background: #1b4638;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
    height: 32px;
  }
}
