.about-end {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  border-radius: 28px;
  background: #fff;
  padding: 80px 80px 220px;

  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);

  &__content {
    margin: 0 auto;
    max-width: 957px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title2 {
    margin-bottom: 40px;
    text-align: center;
  }

  & + .space + .puzzle {
    background-image: url("data:image/svg+xml,%3Csvg width='1394' height='116' viewBox='0 0 1394 116' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M329.203 87C328.899 86.9999 328.939 86.9999 329.308 86.9998C343.759 86.9522 353.219 76.4675 353.219 63C353.219 49.5002 353.219 58.0002 353.219 47C353.219 35.9998 362.225 22.9998 377.235 23C392.244 23.0002 998.644 23.0002 1016.66 23C1034.67 22.9998 1040.67 37.4998 1040.67 47C1040.67 52.7952 1040.67 54.311 1040.67 56.5413L1040.67 63C1040.67 71.4993 1046.68 86.9979 1064.68 87C1065.1 87 1065.11 87 1064.69 87C1064.69 87 1064.69 87 1064.68 87C1047.64 86.9999 346.131 86.9975 329.308 86.9998C329.273 87 329.238 87 329.203 87Z' fill='%23101010'/%3E%3Cpath d='M1064.68 87C1065.1 87 1065.11 87 1064.69 87C1064.69 87 1064.69 87 1064.68 87Z' fill='%23101010'/%3E%3Cpath d='M0 32.9243C0 43.8997 11.0079 63.3552 32.023 63.8536C32.023 63.8536 295.212 63.8532 309.222 63.8536C323.232 63.854 333.239 51.8814 333.239 39.9089V23.9454C333.239 9.97736 343.246 0.000165326 357.256 0.000165326C357.256 0.000165326 1024.6 -0.000206658 1036.74 0.000165326C1048.89 0.000537311 1060.76 7.98159 1060.76 23.9454V39.9089C1060.76 52.3803 1071.27 63.854 1084.78 63.8542C1098.29 63.8544 1338.96 63.8542 1361.98 63.8542C1384.97 63.8542 1393.98 41.4451 1394 31.9524C1394 39.1257 1394 105.06 1394 114.618C1394 114.658 1394 114.698 1394 114.738C1394 116.216 1394 116.047 1394 114.618C1393.94 102.167 1384.92 86.8016 1361.98 86.8016L1064.76 86.8018C1051.25 86.8018 1040.75 77.3231 1040.75 62.8565V46.893C1040.75 33.9225 1030.24 22.9477 1016.73 22.9477L988.032 22.9477C864.838 22.9477 389.598 22.9479 377.271 22.9477C363.261 22.9475 353.253 34.9203 353.253 46.893V62.8565C353.253 76.8246 343.246 86.8018 329.236 86.8018L32.023 86.8012C11.0079 86.8012 0 100.77 0 114.737V32.9243Z' fill='%23F1F1F1'/%3E%3C/svg%3E");

    &::after,
    &::before {
      background: #f1f1f1;
    }

    @media (max-width: 480px) {
      background-image: url("data:image/svg+xml,%3Csvg width='359' height='64' viewBox='0 0 359 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 32C1 32 4.72324e-05 22.9052 4.89756e-05 22C5.07187e-05 21.0948 -7.6107e-05 57.5 4.89756e-05 52C0.000174058 46.5 4.00005 40 13 40H34C42 40 48 34 48 26C48 18 47.9315 22.8174 48 18C48.0686 13.1826 52 8 58 8H301C307 8 311 13 311 18V26C311 32 315 40 325 40L346 40C354.5 40 359 46 359 52V22C359 27 355.094 32 348 32L329 32C324 32 319 28 319 22V12C319 5 314 0 307 0L292.741 8.97573e-06C239.692 4.47181e-05 58.0634 0.000167093 52 0C45 -0.000192895 40 4.99981 40 12V22C40 27 36 32 30.0001 32L11 32Z' fill='%23F1F1F1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48 18C48 12.4772 52.4771 8 58 8H301C306.523 8 311 12.4772 311 18V26C311 33.732 317.268 40 325 40H347C353.627 40 359 45.3726 359 52C359 58.6274 353.627 64 347 64H311H49H48H12C5.37258 64 0 58.6274 0 52C0 45.3726 5.37258 40 12 40H34C41.732 40 48 33.732 48 26V18Z' fill='%23101010'/%3E%3C/svg%3E");
    }
  }

  @media (max-width: 1280px) {
    padding: 48px 48px 220px;
  }

  @media (max-width: 1024px) {
    padding: 24px 24px 160px;
  }
  @media (max-width: 900px) {
    padding: 24px 24px 100px;

    &__content {
      max-width: 541px;
    }
    .title2 {
      margin-bottom: 32px;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .title2 {
      text-align: left;
    }
    .button {
      width: 100%;
    }
  }
}
