* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  backdrop-filter: none;
  -webkit-tap-highlight-color: transparent;
  font-display: optional;
  font-family: "Suisse Int'l";

  &:hover,
  &:focus {
    -webkit-appearance: none;
    appearance: none;
    backdrop-filter: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@import "./fonts/index.scss";
@import "./common.scss";
@import "./home.scss";
@import "./event.scss";
@import "./cases.scss";
@import "./case.scss";
@import "./blog.scss";
@import "./post.scss";
@import "./contact.scss";
@import './about.scss';
@import '../components/pages/privacy/DocsContent/index.scss';
@import '../components/pages/404/Intro/index.scss';

