.events-menu {
  padding: 80px 40px 180px;
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 28px;

  & + .puzzle {
    path[fill="#1b4638"] {
      fill: #101010;
    }

    svg > path[fill="#101010"] {
      fill: #ffffff;
    }
  }

  &__container {
    width: 100%;
  }

  .title2 {
    max-width: 665px;
    width: 100%;
    margin: 0 auto 64px;
    justify-content: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }

  &__item {
    padding: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    border-radius: 24px;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);

    &-title {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #101010;
      margin-right: 16px;
    }
    &-btn {
      position: relative;
      transform: rotate(-45deg);
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      overflow: hidden;
      img {
        width: 32px;
        height: 32px;
        filter: invert(0%) sepia(5%) saturate(2899%) hue-rotate(11deg)
          brightness(96%) contrast(87%);
      }
    }
    &-line {
      position: absolute;
      transform: translate(-41px, -50%);
      display: flex;
      top: 50%;
      left: 0;
      transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);

      img:not(:last-child) {
        margin-right: 8px;
      }
    }
    &:hover {
      background: #f4f4f4;
      .events-menu__item-line {
        transform: translate(-1px, -50%);
      }
    }
  }

  @media (max-width: 1280px) {
    padding: 80px 24px 180px;
  }

  @media (max-width: 1024px) {
    border-radius: 24px;
    padding: 24px 24px 120px;
  }

  @media (max-width: 900px) {
    .title2 {
      margin: 0 0 32px;
      justify-content: flex-start;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 12px;
    }

    &__item {
      padding: 24px;
      &-title {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 24px 24px 64px;
  }
}
