.text16 {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  opacity: 0.8;

  p:not(:last-child) {
    margin-bottom: 16px;
  }

  &.white {
    color: #fff;
  }

  &.black {
    color: #101010;
  }
}
