.anim-arrow {
  transform: rotate(-45deg);
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  picture {
    width: 32px;
    height: 32px;
  }
  img {
    width: 32px;
    height: 32px;
    filter: invert(0%) sepia(5%) saturate(2899%) hue-rotate(11deg)
      brightness(96%) contrast(87%);
  }

  &__line {
    position: absolute;
    transform: translate(-41px, -50%);
    display: flex;
    top: 50%;
    left: 0;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);

    img:not(:last-child) {
      margin-right: 8px;
    }
  }

  &:hover {
    .anim-arrow__line {
      transform: translate(-1px, -50%);
    }
  }
}
