.black-touch {
  background: #101010;
  border-radius: 28px;
  padding: 80px;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__img {
    display: flex;
    width: 70vh;
    height: 40vh;
    max-height: 320px;
    max-width: 440px;
  }

  &__col {
    max-width: 575px;
    width: 100%;
    margin-right: 215px;
  }

  .title2 {
    margin-bottom: 32px;

    span:last-child svg {
      width: 120%;
    }
  }

  .text18 {
    margin-bottom: 32px;
  }

  &.white {
    background: transparent;

    .title2,
    .text18 {
      color: #101010;
    }

    .black-touch__col {
      margin-right: 80px;
    }

    .black-touch__img {
      border-radius: 24px;
      overflow: hidden;
      width: 82vh;
      height: 40vh;
      max-height: 324px;
      max-width: 575px;
      .masked-img {
        mask-image: none;
        -webkit-mask-image: none;
      }
    }

    @media (max-width: 1024px) {
      .black-touch__col {
        max-width: 440px;
      }
    }

    @media (max-width: 900px) {
      .black-touch__col {
        margin-right: 0px;
      }
    }

    @media (max-width: 480px) {
      .black-touch__img {
        width: calc(100vw - 64px);
        height: calc(100vw - 64px);
        max-height: 280px;
        max-width: 400px;
      }
    }
  }

  @media (max-width: 1280px) {
    &__col {
      margin-right: 48px;
    }

    &__img {
      width: 50vh;
      height: 40vh;
      max-height: 320px;
      max-width: 400px;
    }
  }

  @media (max-width: 1024px) {
    padding: 24px;
    border-radius: 24px;
  }

  @media (max-width: 900px) {
    &__container {
      flex-direction: column;
    }

    &__col {
      margin-right: 0;
      margin-bottom: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title2 {
      margin-bottom: 16px;
    }

    .title2,
    .text18 {
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .title2,
    .text18 {
      text-align: left;
    }

    .button {
      width: 100%;
    }

    &__img {
      width: calc(100vw - 64px);
      height: calc(100vw - 64px);
      max-height: 280px;
      max-width: 400px;
    }
  }

  @media (max-width: 375px) {
    &__img {
      max-height: 232px;
    }
  }
}
